@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
  background-color: rgb(219, 217, 195);
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.div-title {
  background-color: #206770;
  color: #ffffff;
  height: 100px;
}

.navbar {
  background-color: #206770;
}

.div-title h1 {
  margin: 0;
}

h1 a {
  color: aliceblue;
}

main {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: transparent;
  border: 0;
  margin-bottom: 3rem;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.card-subtitle {
  font-size: 1.1rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.cart {
  background-color: #206770;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
  font-size: 1rem;
  border: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

button:hover
{
  background-color: #4c4b4b;
}

footer {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #206770;
  color: aliceblue;
  padding-right: 2rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'] {
  border: 1px solid #206770;
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
